---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title={"No encontrado"}>
    <Header />
    <div class="py-12 px-4">
        <h1 class="text-7xl font-bold text-white text-center">UPS!</h1>
        <p class="text-xl text-gray-300 text-center px-10">Lo sentimos</p>
        <p class="text-xl text-gray-300 text-center px-10">
            La página que buscas no existe.
        </p>
        <div class="flex justify-center mt-36">
            <a href="/" class="headline cursor-pointer text-center"
                >Volver al inicio</a
            >
        </div>
    </div>
</Layout>
